.app{
  margin: 60px 200px;
  padding-bottom: 20px;
}

.centered-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CC_Button{
  .ant-btn-primary {
    background-color: #04beb8;
    &:hover {
      background-color: #54e8e3 !important;
    }
  }
}