.CC_imageCard {
  position: relative;

  img {
    border-radius: 10px;
    object-fit: cover;
  }

  .CC_imageCardDetails {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;

    span {
      color: #04beb8;
    }
  }
}